node_modules/
.DS_Store
*.log
data/
!smolgrrr-wired-pow-relay/data/
!smolgrrr-wired-pow-relay/data/strfry/
!smolgrrr-wired-pow-relay/data/strfry/.keep
!smolgrrr-wired-pow-relay/data/web/
!smolgrrr-wired-pow-relay/data/web/.keep
